.boxAvatar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    
}


@media (max-width:600px){
    .boxAvatar {
        display: grid;
        grid-template-columns: 1fr;
    }   
}